@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HeadHunterVer1._0.ViewModels.VacancyViewModel
@inject UserManager<User> UserManager
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@if (TempData["successfully"] != null)
{
    <p class="alert-success alert">@TempData["successfully"]</p>
}
<div class="row container">
    <div class="col-md-12">
        <div class="card mb-12">
            <div class="card-body">
                <h5 class="card-title">Заголовок:@Model.Title</h5>
                <p class="card-text">Зарплата: @Model.Wages</p>
                <p class="card-text">Описание: @Model.Description</p>
                <p class="card-text">Опыт работы от: @Model.ExperienceYearsFrom</p>
                <p class="card-text">Опыт работы до: @Model.ExperienceYearsTo</p>
                <p class="card-text">Категория профессии: @Model.SelectedCategoryName.Name</p>
                @if (User.IsInRole("employer"))
                {
                    <a class="btn-outline-success btn text-decoration-none" asp-area="" asp-controller="Employer" asp-action="AboutProfile" asp-route-id="@UserManager.GetUserId(User)">Вернуться обратно</a>
                    <a class="btn-outline-success btn text-decoration-none" asp-area="" asp-controller="Employer" asp-action="EditVacancy" asp-route-id="@Model.Id">Изменить данные вакансии</a>
                    <a class="btn-outline-success btn text-decoration-none" asp-area="" asp-controller="Employer" asp-action="DeleteVacancy" asp-route-id="@Model.Id">Удалить вакансию</a>
                }
                @if (User.IsInRole("employee"))
                {
                    <a class="btn-outline-success btn text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Вернуться обратно</a>
                    <a class="btn-outline-success btn text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Откликнуться</a>
                }
            </div>
        </div>
    </div>
</div>

<form asp-action="Application" asp-controller="Home" method="post" asp-antiforgery="true" enctype="multipart/form-data">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Список ваших резюме</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-control custom-select" name="CreateApplicationViewModel.selectedResumeId" asp-for="CreateApplicationViewModel.selectedResumeId">
                        @if (Model.ResumeViewModels.Any())
                        {
                            @foreach (var data in Model.ResumeViewModels)
                            {
                                <option value="@data.Id">@data.NameOfResume</option>
                            }
                        }
                        else
                        {
                            <option >вы еще не создали резюме</option>
                        }
                    </select>
                    <input type="hidden" value="@Model.Id" name="CreateApplicationViewModel.VacancyId" asp-for="CreateApplicationViewModel.VacancyId">
                    <input type="hidden" value="@UserManager.GetUserId(User)" name="CreateApplicationViewModel.UserId" asp-for="CreateApplicationViewModel.UserId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

                    @if (Model.ResumeViewModels.Any())
                    {
                        <button type="submit" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Отправить резюме</button>
                    }
                </div>
            </div>
        </div>
    </div>
</form>