@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HeadHunterVer1._0.ViewModels.AboutViewModel
@inject UserManager<User> UserManager

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}


@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
<div class="container">
    <h1 class="text-black text-center fs-3">Добро пожаловать в личный кабинет</h1>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <img src="@Model.PathFile" class="card-img-top w-100 h-100" alt="Path File">
                <div class="card-body">
                    <p class="card-text card-title">
                        <strong>Имя:</strong> @Model.NameCompanyOrUser
                    </p>
                    <p class="card-text card-title">
                        <strong>Почта:</strong> @Model.Email
                    </p>
                    <p class="card-text card-title">
                        <strong>Роль:</strong> @Model.Role
                    </p>
                </div>
                <a class="btn btn-outline-success" asp-area="" asp-controller="Accounts" asp-action="DownloadPdf" asp-route-id="@UserManager.GetUserId(User)">Скачать данные</a>
                <a asp-action="EditProfile" asp-controller="Accounts" asp-route-id="@UserManager.GetUserId(User)" class="btn-outline-success btn">Редактировать профиль</a>
                <a asp-action="Create" class="btn-outline-success btn" asp-controller="Employer" methods="get" asp-route-id="@UserManager.GetUserId(User)">Создать вакансию</a>
            </div>
        </div>
    </div>
</div>
@if (Model.userId == UserManager.GetUserId(User))
{
    @if (Model.VacancyViewModels.Any())
    {
        <div class="row mt-5">
            @foreach (var data in Model.VacancyViewModels)
            {
                if (data.IsPublished)
                {
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a asp-action="AboutVacancy" asp-route-id="@data.Id">@data.Title</a>
                                </h5>
                                <p class="card-text">Зарплата: @data.Wages</p>
                                <p class="card-text">Опыт работы от: @data.ExperienceYearsTo</p>
                                <p class="card-text">Опыт работы до: @data.ExperienceYearsFrom</p>
                                <p class="card-text">Последние обновление: @data.UpdateVacancyBid</p>
                                <p class="card-text">
                                    Опубликовано:
                                    @if (data.IsPublished == false)
                                    {
                                        <span>Нет</span>
                                    }
                                    else
                                    {
                                        <span>Да</span>
                                    }
                                </p>
                            </div>
                            <a class="btn btn-outline-success" asp-action="UnPublish" asp-controller="Employer" asp-route-id="@data.Id"> Снять с публикации</a>
                            <a class="btn btn-outline-success" asp-action="UpdateVacancyDatePublished" asp-controller="Employer" asp-route-id="@data.Id">обновить публикацию</a>
                        </div>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <p>Вы не создали вакансии</p>
        <p>
            <a asp-action="Create" class="btn-outline-success btn" asp-controller="Employer" methods="get" asp-route-id="@UserManager.GetUserId(User)">Создать вакансию</a>
        </p>
    }
}
<button id="ButtonOpenUnPublishVacancy" class="btn-outline-success btn">Открыть список снятых вакансий</button>
@if (Model.userId == UserManager.GetUserId(User))
{
    <div class="row mt-5 d-none" id="BlockVacancy">
        @foreach (var data in Model.VacancyViewModels)
        {
            if (data.IsPublished == false)
            {
                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-action="AboutVacancy" asp-route-id="@data.Id">@data.Title</a>
                            </h5>
                            <p class="card-text">
                                Опубликовано: `
                                @if (data.IsPublished == false)
                                {
                                    <span>Нет</span>
                                }
                            </p>
                        </div>
                        <a class="btn btn-outline-success" asp-action="Publish" asp-controller="Employer" asp-route-id="@data.Id"> Опубликовать заново</a>
                    </div>
                </div>
            }
        }
    </div>
}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var button = document.getElementById('ButtonOpenUnPublishVacancy');
        var block = document.getElementById('BlockVacancy');
        button.addEventListener('click', function() {
            block.classList.toggle('d-none');
        });
    });
</script>

