@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HeadHunterVer1._0.ViewModels.AboutViewModel
@inject UserManager<User> UserManager

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/EmployerVacancy.css" asp-append-version="true"/>


@if (TempData["Error"] != null)
{
    <p class="alert alert-danger">@TempData["Error"]</p>
}


<div class="container">
    <h1 class="text-black text-center fs-3">Добро пожаловать в личный кабинет</h1>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <img src="@Model.PathFile" class="card-img-top w-100 h-100" alt="Path File">
                <div class="card-body">
                    <p class="card-text card-title">
                        <strong>Имя:</strong> @Model.NameCompanyOrUser
                    </p>
                    <p class="card-text card-title">
                        <strong>Почта:</strong> @Model.Email
                    </p>
                    <p class="card-text card-title">
                        <strong>Роль:</strong> @Model.Role
                    </p>
                </div>
               @if (@UserManager.GetUserId(User) == @Model.userId)
               {
                   <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Редактировать профиль</button>
                   <a asp-action="Create" class="btn-outline-success btn" asp-controller="Employer" asp-route-id="@UserManager.GetUserId(User)">Создать вакансию</a>
               }
            </div>
        </div>
    </div>
</div>
@if (Model.userId == UserManager.GetUserId(User))
{
    @if (Model.VacancyViewModels.Any())
    {
        <div class="center">
            
            @foreach (var data in Model.VacancyViewModels)
            {
                <ul>
                    <li >
                        <div class="image">
                            <h4><a asp-action="AboutVacancy" asp-route-id="@data.Id">@data.Title</a></h4>
                            <P>Зарплата: @data.Wages kzt</p>
                        </div>

                        <div class="text-group">
                            <p>
                                <h4>Опыт работы: от @data.ExperienceYearsFrom до @data.ExperienceYearsTo лет</h4>
                            </p>
                            <p>Последние обновление:@data.UpdateVacancyBid.ToString("G")</p>
                        </div>
                        <div class="date-group">

                            <P>
                                @if (data.IsPublished)
                                {
                                    <p style="margin-left: 15px">   Опубликовано</p>
                                    <a class="btn btn-outline-dark text-light" asp-action="UnPublish" asp-controller="Employer" asp-route-id="@data.Id">Снять публикацию</a>
                                }
                                else
                                {
                                    <p>Публикация не актуальна</p>
                                    <a class="btn btn-outline-dark text-light" asp-action="Publish" asp-controller="Employer" asp-route-id="@data.Id">Опубликовать публикацию</a>
                                }
                            </p>
                        </div>
                        <a class="btn btn-outline-dark text-light" asp-action="UpdateVacancyDatePublished" asp-controller="Employer" asp-route-id="@data.Id">Обновить публикацию</a>
                    </li>
                </ul>
            }

        </div>
    }
    else
    {
        <p>Вы не создали вакансии</p>
        <p>
            <a asp-action="Create" class="btn-outline-success btn" asp-controller="Employer" methods="get" asp-route-id="@UserManager.GetUserId(User)">Создать вакансию</a>
        </p>
    }
}


<form asp-action="EditProfile" asp-controller="Accounts" method="post" asp-antiforgery="true" enctype="multipart/form-data" asp-route-id="@Model.userId">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Окно изменения данных</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label id="nicknameLabel" asp-for="NameCompanyOrUser">Введите имя компании:</label>
                        <input type="text" id="nicknameInput" asp-for="NameCompanyOrUser" class="form-control">
                        <span asp-validation-for="NameCompanyOrUser" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Электронная почта:</label>
                        <input type="email" asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword">Новый пароль:</label>
                        <input type="password" asp-for="NewPassword" class="form-control">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OldPassword">Старый Пароль:</label>
                        <input type="password" asp-for="OldPassword" class="form-control">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AvatarFile">Загрузите фото</label>
                        <input type="file" asp-for="AvatarFile" class="form-control">
                        <span asp-validation-for="AvatarFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber">Введите номер</label>
                        <input type="text" asp-for="PhoneNumber" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Редактировать профиль</button>
                </div>
            </div>
        </div>
    </div>
</form>
