@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HeadHunterVer1._0.ViewModels.AboutViewModel

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}

@if (TempData["Error"] != null)
{

<div class="alert alert-danger" xmlns="http://www.w3.org/1999/html">@TempData["Error"]</div>
}
<div class="container">
    <h1 class="text-black text-center fs-3">Добро пожаловать в личный кабинет</h1>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card" style="width: 100%;">
                <img src="@Model.PathFile" class="card-img-top w-100 h-100" alt="Path File">
                <div class="card-body">
                    <p class="card-text card-title">
                        <strong>Имя:</strong> @Model.NameCompanyOrUser
                    </p>
                    <p class="card-text card-title">
                        <strong>Почта:</strong> @Model.Email
                    </p>
                    <p class="card-text card-title">
                        <strong>Роль:</strong> @Model.Role
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Редактировать профиль</button>

<form asp-action="EditProfile" asp-controller="Accounts" method="post" asp-antiforgery="true" enctype="multipart/form-data">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Выберите роль:</label><br>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" asp-for="Role" value="employer" onclick="toggleNicknameField(true)">
                            <label class="form-check-label">Работодатель</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" asp-for="Role" value="employee" onclick="toggleNicknameField(false)">
                            <label class="form-check-label">Работник</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="nicknameLabel" asp-for="NameCompanyOrUser"></label>
                        <input type="text" id="nicknameInput" asp-for="NameCompanyOrUser" class="form-control">
                        <span asp-validation-for="NameCompanyOrUser" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Электронная почта:</label>
                        <input type="email" asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword">Новый пароль:</label>
                        <input type="password" asp-for="NewPassword" class="form-control">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OldPassword">Старый Пароль:</label>
                        <input type="password" asp-for="OldPassword" class="form-control">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AvatarFile">Загрузите фото</label>
                        <input type="file" asp-for="AvatarFile" class="form-control">
                        <span asp-validation-for="AvatarFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" id="saveProfileChanges">Сохранить изменения</button>
                </div>
            </div>
        </div>
    </div>
</form>